<!DOCTYPE html>
<html>
    <head>
        <title>
            my first django application
        </title>
        <style>
            td { padding-top: 10px;
                padding-bottom: 20px;
                padding-left: 80px;
                padding-right: 80px;
                border: 1px orange solid;
                

            }
        </style>
    </head>

<body>
    <table>
        <td>
            <a href="{% url 'home' %}">
                <span>home</span>
            </a>
        </td>
        <td>
            <a href="{% url 'aboutus' %}">
                <span>aboutus</span>
            </a>
        </td>
        <td>
            <a href="{% url 'training' %}">
                <span>traninig</span>
            </a>
        </td>
        <td>
            <a href="{% url 'blog' %}">
                <span>blog</span>
            </a>
        </td>
        <td>
            <a href="{% url 'contactus' %}">
                <span>contactus</span>
            </a>
        </td>

    </table>
    <h1>
        welcome to chennai
    </h1>
</body>
</html>